{% extends 'index.html' %}

{% load static %}

{% block content %}

<form method="post" action="{% url 'new' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="card">
		<div class="card-body p-4">
		  <h5 class="card-title">Add New Product</h5>
		  <hr/>
		   <div class="form-body mt-4">
			<div class="row">
			   <div class="col-lg-8">
				   <div class="border border-3 p-4 rounded">
					<div class="mb-3">
						<label for="inputProductTitle" class="form-label">Product Name</label>
						<input type="text" class="form-control" name="pname" placeholder="Enter product name">
					</div>
					<div class="mb-3">
						<label for="inputProductDescription" class="form-label">Description</label>
						<textarea class="form-control" name="pdesc" id="inputProductDescription" rows="3"></textarea>
					</div>
					<div class="mb-3">
						<label for="inputProductDescription" class="form-label">Product Images</label>
						<input id="image-uploadify" type="file" name="pimg" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
					</div>
				   </div>
			   </div>
			   <div class="col-lg-4">
				<div class="border border-3 p-4 rounded">
				  <div class="row g-3">
					<div class="col-md-6">
						<label for="inputPrice" class="form-label">Price</label>
						<input type="number" class="form-control" name="pamt" id="inputPrice" placeholder="00.00">
					  </div>
					  <div class="col-md-6">
						<label for="inputStock" class="form-label">Stock</label>
						<input type="number" class="form-control" name="pstock" id="inputStock" placeholder="Enter Quantity">
					  </div>
					  <div class="col-12">
						<label for="inputCategorye" class="form-label">Category</label>
						<select class="form-select" name="cate" id="inputCategory">
							{% for i in pcat %}
								<option value="{{i.Category_Name}}">{{i.Category_Name}}</option>
							   {% endfor %}
						  </select>
					  </div>
					  <div class="col-12">
						<label for="inputSubcategoryn" class="form-label">Subcategory</label>
						<select class="form-select" name="scat" id="inputSubcategory">
							{% for i in subc %}
								   <option value="{{i.Subcategory_Name}}">{{i.Subcategory_Name}}</option>
							   {% endfor %}
						  </select>
					  </div>
					  <div class="col-md-6">
						<label for="inputStock Status" class="form-label">Stock Status</label>
						<input type="text" class="form-control" name="sstock" id="inputStock Status" placeholder="Enter Stock Status">
					  </div>
					  <div class="col-12">
						  <div class="d-grid">
							 <button type="submit" class="btn btn-primary">Save Product</button>
						  </div>
					  </div>
				  </div> 
				  </div>
			   </div>
		   </div><!--end row-->
		  </div>
		</div>
	</div>
</form>

{% endblock %}