{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="page-content">
	<!--breadcrumb-->
	<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		<div class="breadcrumb-title pe-3">eCommerce</div>
		<div class="ps-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Products List</li>
				</ol>
			</nav>
		</div>
		{% comment %} <div class="ms-auto">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">Settings</button>
				<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
					<a class="dropdown-item" href="javascript:;">Another action</a>
					<a class="dropdown-item" href="javascript:;">Something else here</a>
					<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
				</div>
			</div>
		</div> {% endcomment %}
	</div>
	<!--end breadcrumb-->
  
	<div class="card">
		<div class="card-body">
			<div class="d-lg-flex align-items-center mb-4 gap-3">
				<div class="position-relative">
					<input type="text" class="form-control ps-5 radius-30" placeholder="Search Product"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
				</div>
			  <div class="ms-auto"><a href="{% url 'new' %}" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Product</a></div>
			</div>
			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="table-light">
						<tr>
							<th>Product Id</th>
							<th>Product Name</th>
							<th>Product Image</th>
							<th>Product Description</th>
							<th>Price</th>
                            <th>Stock</th>
							<th>Category</th>
                            <th>Subcategory</th>
                            <th>Stock Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
                        {% for i in data %}
						<tr>
							<td>
								<div class="d-flex align-items-center">
									<div>
										<input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
									</div>
									<div class="ms-2">
										<h6 class="mb-0 font-14">{{i.id}}</h6>
									</div>
								</div>
							</td>
							<td>{{i.Product_Name}}</td>
							<td><img src="{{i.Product_Image1.url}}" style="height:50%; width:50%;"></td>
							<td>{{i.Product_Description}}</td>
							<td>{{i.price}}</td>
							<td>{{i.stock}}</td>
                            <td>{{i.Category}}</td>
                            <td>{{i.Subcategory}}</td>
                            <td><div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3"><i class='bx bxs-circle me-1'></i>{{i.Stock_Status}}</td>
							<td>
								<div class="d-flex order-actions">
									<a href="{% url 'edit' productid=i.id %}" class=""><i class='bx bxs-edit'></i></a>
									<a href="{% url 'dl' productid=i.id %}" class="ms-3"><i class='bx bxs-trash'></i></a>
								</div>
							</td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}